.carouselImg{
    height: 440px;
}

.img{
    height: 440px;
    
}



@media (max-width: 480px){
    .img{
        height: 270px;
    }

    .carouselImg{
        height: auto;
        /* width: 400px; */
    }
}

@media (max-width: 360px) {
    .carouselImg{
        width: 290px;
    }
}